{% extends "base.html" %} {% block title %}Home{% endblock %} {% block
    content %}
<!-- Start of 404 error page  -->
<br><br><br><br>

<h1 class="display-4">🤔 Error! Course not found in database! 🤔</h1>
<br>
<p class="lead">Search input must be a 5-digit course number. You cannot use words in your search.</p>
<p class="lead">Only courses available during {{last_update.current_year}} can be searched. Perhaps you searched for a retired course?</p>
<p class="lead"><a class="text-decoration-none" href="https://kurser.dtu.dk/course/{{course}}">Alternatively, look up the course on DTU's official website.</a></p>
<br>
<!-- End of 404 error page -->

{% endblock %}