{% extends "base.html" %} {% block title %}Home{% endblock %} {% block
content %}

  <!-- Start of main title  -->
  <br><br><br><br>

  <h1 class="display-4">DTU Course Analyzer {{last_update.current_year}}</h1>
  <br>
  <p class="lead">A software project by DTU-student Jonatan Rasmussen s183649</p>
  <br>
  <!-- End of main title -->

<!-- Start of outer loop -->
{% for category in dicts_to_display.list_of_dicts %}

<!-- Start of card section containing sorting options -->
<div class="card text-black bg-light mb-3" style="max-width: 24rem;">
  <div class="card-header">
    {{course_lists[category]|length}} course{% if course_lists[category]|length != 1 %}s{% endif %} matched your search criteria
  </div>
  <div class="card-body">
    {% if course_lists[category]|length != 0 %}
    <h5 class="card-title">Sort {% if course_lists[category]|length != 1 %}them{% else %}it{% endif %} based on:</h5>
    <!-- Start of: Scuffed button group that is nested inside an invisible navbar because otherwise the dropdown does not work -->
    <nav class="navbar navbar-expand" aria-label="NavbarNewLabel">
      <div class="navbar-collapse collapse" id="fakeNavbarButtonMenu1">
        <ul class="navbar-nav">
          <li class="btn-group">
            <a href="{{args.args}}" class="btn btn-outline-secondary" aria-current="page">ID</a>
            <a href="{{args.args}}&sort_by=course_english_names" class="btn btn-outline-secondary" aria-current="page">Name</a>
            <a href="{{args.args}}&sort_by=course_rating" class="btn btn-outline-secondary" aria-current="page">Rating</a>
            <a href="{{args.args}}&sort_by=course_workload" class="btn btn-outline-secondary" aria-current="page">Workload</a>
            <a href="{{args.args}}&sort_by=course_grade" class="btn btn-outline-secondary" aria-current="page">Grade</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Start of: Switch for reverse sorting -->
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" onchange="toggleSortReverse()" {% if 'sort_reverse' in request.args %}checked{% endif %}>
      <label class="form-check-label" for="flexSwitchCheckDefault">Reverse Sort Order</label>
    </div>
    <!-- End of: Switch for reverse sorting -->
    <nav class="navbar navbar-expand" aria-label="NavbarNewLabel">
      <div class="navbar-collapse collapse" id="fakeNavbarButtonMenu2">
        <ul class="navbar-nav">
          <li class="btn-group">
            <div class="btn-group">
              <button id="btnSortGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                All sorting options
              </button>
              <ul class="dropdown-menu" aria-labelledby="btnSortGroupDrop1">
                <a href="{{args.args}}" class="dropdown-item" aria-current="page">ID</a>
                <a href="{{args.args}}&sort_by=course_english_names" class="dropdown-item" aria-current="page">Name</a>
                <a href="{{args.args}}&sort_by=course_rating" class="dropdown-item" aria-current="page">Rating</a>
                <a href="{{args.args}}&sort_by=course_workload" class="dropdown-item" aria-current="page">Workload</a>
                <a href="{{args.args}}&sort_by=course_grade" class="dropdown-item" aria-current="page">Grade</a>
                <a href="{{args.args}}&sort_by=course_ects" class="dropdown-item" aria-current="page">ECTS</a>
                <a href="{{args.args}}&sort_by=course_signups" class="dropdown-item" aria-current="page">Signups</a>
                <a href="{{args.args}}&sort_by=course_schedule" class="dropdown-item" aria-current="page">Schedule</a>
                <a href="{{args.args}}&sort_by=course_fail" class="dropdown-item" aria-current="page">Failrate</a>
                <a href="{{args.args}}&sort_by=course_votes" class="dropdown-item" aria-current="page">Evaluation votes</a>
                <a href="{{args.args}}&sort_by=course_eval_learning" class="dropdown-item" aria-current="page">Rating: Learning</a>
                <a href="{{args.args}}&sort_by=course_eval_motivation" class="dropdown-item" aria-current="page">Rating: Motivation</a>
                <a href="{{args.args}}&sort_by=course_eval_feedback" class="dropdown-item" aria-current="page">Rating: Feedback</a>
              </ul>
            </div>
            <a href="/" class="btn btn-outline-info" aria-current="page">Adjust filters</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- End of: Scuffed button group that is nested inside an invisible navbar because otherwise the dropdown does not work -->
    {% endif %}
    <!-- Start of: Current filter/sort --
    <p class="card-text"><small class="fs-6 text-muted">Current filter options: {{args.args}}</small></p>
    <p class="card-text"><small class="fs-6 text-muted">Current sorting option: {{args.sort_by}}</small></p>
    !-- End of: Current filter/sort -->
  </div>
</div>
<!-- End of card section containing sorting options -->

<br><br>

<!-- Start of card list -->
<section class="row row-cols-1 row-cols-xxl-3 g-4">
  <!-- Start of summary statistics -->
  {% if course_lists[category]|length != 0 %}
  <div class="col">
    <div class="card bg-light h-100" style="max-width: 26rem;">
      <div class="card-header">
        Summary statistics:
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <table class="table table-sm table-borderless mb-0">
            <tbody>
              <tr>
                <th class="align-top" style="width: 11rem" scope="row">Average students:</th>
                <td class="align-top">{{stats.signups}} students per semester</td>
              </tr>
            </tbody>
          </table>
        </li>
        <li class="list-group-item">
          <table class="table table-sm table-borderless mb-0">
            <tbody>
              <tr>
                <th class="align-top" style="width: 11rem" scope="row">Average grade:</th>
                <td class="align-top">{{stats.grade}} <small class="fs-6 text-muted">({{stats.failrate}}% failrate on exams)</small></td>
              </tr>
            </tbody>
          </table>
        </li>
        <li class="list-group-item">
          <table class="table table-sm table-borderless mb-0">
            <tbody>
              <tr>
                <th class="align-top" style="width: 11rem" scope="row">Average rating:</th>
                <td class="align-top">{{stats.rating}} / 5.00 rating</td>
              </tr>
              <tr>
                <td class="align-top pb-0 pt-0" scope="row"><i>Course workload</i></td>
                <td class="align-top pb-0 pt-0">{{stats.workload}} <small class="fs-6 text-muted">(not part of avg. rating)</small></td>
              </tr>
              <tr>
                <td class="align-top pb-0 pt-0" scope="row"><i>"I have learned a lot"</i></td>
                <td class="align-top pb-0 pt-0">{{stats.learning}} <small class="fs-6 text-muted">(⅓ part of avg. rating)</small></td>
              </tr>
              <tr>
                <td class="align-top pb-0 pt-0" scope="row"><i>"Motivating activities"</i></td>
                <td class="align-top pb-0 pt-0">{{stats.motivation}} <small class="fs-6 text-muted">(⅓ part of avg. rating)</small></td>
              </tr>
              <tr>
                <td class="align-top pb-0 pt-0" scope="row"><i>"Access to feedback"</i></td>
                <td class="align-top pb-0 pt-0">{{stats.feedback}} <small class="fs-6 text-muted">(⅓ part of avg. rating)</small></td>
              </tr>
            </tbody>
          </table>
        </li>
      </ul>
    </div>
  </div>
  {% endif %}
  <!-- End of summary statistics -->
  {% for course in course_lists[category] %}
  <div class="col">
    <div class="card h-100" style="max-width: 26rem">
      <a href="{{ url_for('course_database.route_to_course', course_number=course) }}" class="stretched-link"></a>
      <img src="{{ url_for('static', filename='assets/colors/red.png') }}" width="100%" height="20"
        class="d-inline-block align-top" alt="red-color" loading="lazy"
        style="filter: invert(0) grayscale(0%) brightness(100%)"/>
      <div class="card-body pb-0">
        <h6 class="card-title mb-0 ml-3 mr-0">{{course}} {{data.name[course]}}</h6></a>
      </div>
      <div class="card-footer bg-white border-top-0">
        <ul class="list-group list-group-flush mt-0 pt-0">
          <li class="list-group-item mt-0 pt-0">
            <!-- Start of basic info table -->
            <table class="table table-sm table-borderless mt-0 mb-3">
              <tbody>
                <tr>
                  <th style="width: 7%" scope="row"></th>
                  <td style="width: 8%" class="align-top"></td>
                  <td style="width: 14%" class="align-top"></td>
                  <th style="width: 6%" class="align-top"></th>
                  <td style="width: 26%" class="align-top"></td>
                  <td style="width: 4%" class="align-top"></td>
                  <td style="width: 35%" class="align-top"></td>
                </tr>
                <tr>
                  <th scope="row" colspan="5">
                    <hr class="bg-secondary border-2 border-top border-secondary mb-0 mt-0">
                  </th>
                  <th></th>
                  <td rowspan="6">
                    {% if data.responsible[course] == "NO_DATA" %}
                    <img class="img" alt="100%x280" src="{{ url_for('static', filename='assets/brand/blank_photo.png') }}" width="100%">
                    {% else %}
                    <img class="img" alt="100%x280" src="{{data.responsible[course]}}" width="100%">
                    {% endif %}
                  </td>
                </tr>
                <tr>
                  <th scope="row">🎓</th>
                  <td class="align-top" colspan="2"><small>{{data.course_type[course]}}
                    {% if data.language[course] == "Danish" and data.course_type[course] != "BSc/MSc" %}
                    <small class="fs-6 text-muted"> (🇩🇰)</small></small>
                    {% endif %}
                  </td>
                  <th>🕗</th>
                  <td class="align-top" colspan="2"><small>{{data.season[course]}}</small>{% if data.season[course] == "Fall" or data.season[course] == "Spring" %} <img src="{{ url_for('static', filename='assets/schedules/' ~ data.schedule[course] ~ '_Schedule.png') }}" >{% endif %}</td>
                </tr>
                <tr>
                  <th scope="row">🏅</th>
                  <td class="align-top" colspan="2"><small>{{data.ects[course]}} pts</small></td>
                  <th>📚</th>
                  <td class="align-top" colspan="2"><small>{{data.exam[course]}}</small></td>
                </tr>
                <tr>
                  <th scope="row">👩‍🎓</th>
                  <td class="align-top" colspan="2"><small>{{data.signups[course]}} {% if data.signups[course] < 1000 %}ppl{% else %}ppl{% endif %}</small></td>
                  <th>❌</th>
                  <td class="align-top" colspan="2"><small>{{data.grade[course]}} <small class="fs-6 text-muted">({{data.fail[course]}}% fail)</small></small></td>
                </tr>
                <tr>
                  <th scope="row">⭐</th>
                  <td class="align-top" colspan="2"><small>{{data.rating[course]}}{% if data.votes[course] >= 1 and data.votes[course] <= 9 %}<small class="fs-6 text-danger" title="Warning: Low sample size ({{data.votes[course]}} evaluations)">(!)</small>{% endif %} stars <br></small></td>
                  <th>☠️</th>
                  <td class="align-top" colspan="2"><small>{{data.workload[course]}} workload</small></td>
                </tr>
                <tr>
                  <th scope="row" colspan="5">
                    <hr class="bg-secondary border-2 border-top border-secondary mb-0 mt-0">
                  </th>
                  <th></th>
                </tr>
              </tbody>
            </table>
            <!-- End of basic info table -->
            <table>
              <tbody>
                <tr>
                  <td>
                    <img src="{{ url_for('static', filename='assets/ratings/' ~ data.rating_tier[course] ~ '-star.png') }}" width="100%">
                  </td>
                  <td style="text-align: center; width: 8%">{% if data.votes[course] >= 1 and data.votes[course] <= 9 %}<small><small class="fs-6 text-danger" title="Warning: Low sample size ({{data.votes[course]}} evaluations)">({{data.votes[course]}})</small></small>{% elif data.votes[course] <= 99 %}<small><small class="fs-6 text-muted" title="{{data.votes[course]}} evaluations">({{data.votes[course]}})</small></small>{% elif data.votes[course] >= 1000 %}<small><small><small><small class="fs-6 text-muted" title="{{data.votes[course]}} evaluations">({{data.votes[course]}})</small></small></small></small>{% else %}<small><small><small class="fs-6 text-muted" title="{{data.votes[course]}} evaluations">({{data.votes[course]}})</small></small></small>{% endif %}<br></td>
                  <td>
                    <img src="{{ url_for('static', filename='assets/ratings/' ~ data.workload_tier[course] ~ '-skull.png') }}" width="100%">
                  </td>
                </tr>
              </tbody>
            </table>
          </li>
        </ul>
      </div>
    </div>
  </div>
  {% endfor %}
  <!-- Start of summary statistics -->
  {% if course_lists[category]|length != 0 %}
  <div class="col">
    <div class="card bg-light h-100" style="max-width: 26rem;">
      <div class="card-header">
        Summary statistics:
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <table class="table table-sm table-borderless mb-0">
            <tbody>
              <tr>
                <th class="align-top" style="width: 11rem" scope="row">Average students:</th>
                <td class="align-top">{{stats.signups}} students per semester</td>
              </tr>
            </tbody>
          </table>
        </li>
        <li class="list-group-item">
          <table class="table table-sm table-borderless mb-0">
            <tbody>
              <tr>
                <th class="align-top" style="width: 11rem" scope="row">Average grade:</th>
                <td class="align-top">{{stats.grade}} <small class="fs-6 text-muted">({{stats.failrate}}% failrate on exams)</small></td>
              </tr>
            </tbody>
          </table>
        </li>
        <li class="list-group-item">
          <table class="table table-sm table-borderless mb-0">
            <tbody>
              <tr>
                <th class="align-top" style="width: 11rem" scope="row">Average rating:</th>
                <td class="align-top">{{stats.rating}} / 5.00 rating</td>
              </tr>
              <tr>
                <td class="align-top pb-0 pt-0" scope="row"><i>Course workload</i></td>
                <td class="align-top pb-0 pt-0">{{stats.workload}} <small class="fs-6 text-muted">(not part of avg. rating)</small></td>
              </tr>
              <tr>
                <td class="align-top pb-0 pt-0" scope="row"><i>"I have learned a lot"</i></td>
                <td class="align-top pb-0 pt-0">{{stats.learning}} <small class="fs-6 text-muted">(⅓ part of avg. rating)</small></td>
              </tr>
              <tr>
                <td class="align-top pb-0 pt-0" scope="row"><i>"Motivating activities"</i></td>
                <td class="align-top pb-0 pt-0">{{stats.motivation}} <small class="fs-6 text-muted">(⅓ part of avg. rating)</small></td>
              </tr>
              <tr>
                <td class="align-top pb-0 pt-0" scope="row"><i>"Access to feedback"</i></td>
                <td class="align-top pb-0 pt-0">{{stats.feedback}} <small class="fs-6 text-muted">(⅓ part of avg. rating)</small></td>
              </tr>
            </tbody>
          </table>
        </li>
      </ul>
    </div>
  </div>
  {% endif %}
  <!-- End of summary statistics -->
</section>
<!-- End of card list -->

<!-- Start of list of courses shown ->
{% if course_lists[category]|length != 0 %}
<br><br>
<h5> List of courses shown: </h5>
{% for course in course_lists[category] %}
<small class="fs-6 text-muted"> {{course}} {{data.name[course]}}</small><br>
{% endfor %}
<br><br><br><br>
{% endif %}
<!- End of list of courses shown -->

<!-- End of outer loop -->

<!-- Start of end of page -->
<br><br><br><br>
{% if course_lists[category]|length != 0 %}
<p><a href="#">Return to top of page</a></p>
<small class="fs-6 text-muted">Last updated: {{last_update.last_updated}}</small>
<br><br><br><br>
{% endif %}
<!-- End of end of page -->

{% endfor %}

<!-- JavaScript to handle switch toggle -->
<script>
  function toggleSortReverse() {
    const urlParams = new URLSearchParams(window.location.search);
    const currentUrl = window.location.href;

    if (urlParams.has('sort_reverse')) {
      urlParams.delete('sort_reverse');
    } else {
      urlParams.append('sort_reverse', 'true');
    }

    window.location.href = currentUrl.split('?')[0] + '?' + urlParams.toString();
  }
</script>

{% endblock %}